:root {
  --primary-bg-color: #0fb8a4;
}

* {
  box-sizing: border-box;
  font-family: "SUIT", sans-serif;
  user-select: none;

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}
